<div class='sign-in'>
  <h1>Sign In</h1>

  <div class='login'>
    <%= render 'layouts/login', action: "/session" %>
    <button id='guest-login' class='btn btn-primary'>Guest Login</button>
  </div>
</div>