<a href='#' class='placeholder active'>Add a card...</a>
<form class='new-card-form'>
  <textarea name='card[title]' placeholder='Add title...'></textarea>
  <input type='submit' value='Add'>
  <span class='glyph glyphicon glyphicon-remove'></span>
</form>