<form class="form" id="new_card_form">
  <div class="form-group">
    <input type="text" name="card[title]" id="card_title"></input>
  </div>
    
  <label for="card_description">Card Description</label><br>
  <textarea name="card[description]" id="card_description"></textarea><br>
  
  <input type="submit" id="create_new_card">Create New Card</input>
</form>