<h1>Create a New Card</h1>

<form id="new_card_form">
  <label for="card_title">Card Title</card><br>
  <input
    type="text"
    name="card[title]"
    id="card_title"></input><br>
    
  <label for="card_description">Card Description</label><br>
  <textarea name="card[description]" id="card_description"></textarea><br>
  
  <input type="submit" id="create_new_card">Create New Card</input>
</form>