<a
  data-toggle="modal"
  data-target="#view_card_modal"
  data-card-id="<%= card.id %>"
  data-ord="<%= card.get('ord') %>"><%= card.escape("title") %></a>
<a href="#" class="delete-card glyphicon glyphicon-remove"></a>
