<div class="boards-index-title">
  <h2>Boards</h2>
</div>

<div class="boards-container">
  <% boards.forEach( function(board) { %>
    <div class="board-display-card">
      <a href="#/boards/<%= board.escape("id") %>">
        <%= board.escape("title") %>
      </a>
      <button 
        class="btn btn-default delete_board" 
        data-id="<%= board.id %>">Delete Board</button>
    </div>
  <% }) %>
</div>

<div class="board_display_card">
  <a href="#" id="new-board-link">Create a New Board</a>
</div>