<div class="boards-index row">
  <div class="col-xs-10 col-xs-offset-1">
  <h2>My Boards</h2>

  <div class="boards-container">
    
    <% boards.forEach( function(board) { %>  
      <a class="board-card" href="#/boards/<%= board.escape("id") %>">
        <%= board.escape("title") %>        
        <button 
          class="btn btn-default delete_board" 
          data-id="<%= board.id %>">
          Delete Board</button>
      </a>          
    <% }) %>
    
  </div>
  <a href="#" class='board-card' id="new-board-link">Create new board...</a>
</div>