<!-- board show -->


<section class="row">
  <div class="list_wrapper col-xs-10 col-xs-offset-1">
    <h1 class="board_title"><%= board.escape("title") %></h1>
    
    <div id="list_container">
    </div>
    
    <div id="list_form">
    </div> 
  </div>
</section>



      <!-- <a
        href="#/boards/<%= board.id %>"
        class="btn btn-primary"
        id="new_list_link">Create New List</a>

      <div class="new_list_container hidden">
        <form id="new_list_form">
          <div class="form-group">
            <label for="list_title">Title</label>
            <input
              type="text"
              name="list[title]"
              class="form-control"
              id="list_title"></input>
          </div>

          <button
            id="new_list_submit"
            class="btn btn-primary">Create List</button>
        </form>
      </div> -->
