<!-- board show -->

<section class="row">
  <div class="col-xs-10 col-xs-offset-1 boards">
    <h1><%= board.escape("title") %></h1>
    
    <div id="list_container">
      
    </div>
    
    <div id="list_form"></div> 
  </div>
</section>
