/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body {
  background-color: hsla(0, 0, 0, 0.05);
}

nav.navbar {
  margin-bottom: 0px;
}

.list_wrapper {
  background-color: hsla(0, 0, 0, 0.03);
  height: 100%;
  position: absolute;
  border-radius: 5px;
  margin-bottom: 90px;
}

.board_title {
  text-align: center;
  color: hsla(0, 0, 0, 0.70);
}

.list_show {
  border: 2px solid hsla(0, 0, 0, .5);  
  height: 50%;
  width: 30%;
  float: left;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.list_show h3 {
  font-size: 14px;
  margin: 0px auto;
  padding: 5px;
}

#new_list_form {
  text-align: center;
}

#new_card_button {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.card_button {
  margin: 5px auto;
  width: 100%;
}

#new_list_container {
  height: auto;
}

#new_list_link {
  width: 100%;
}