/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$background-blue: rgb(35, 113, 159);
$header-blue: rgb(26, 79, 122); 
$fade: rgba(255,255,255,.3);
$trello-blue: #27709b;
$trello-blue-hover: #23719F;
$green: rgb(90, 150, 110);
$green-hover: rgb(90, 150, 110);

body {
  background-color: $background-blue;
  font-family: $helvetica;
}

/* Header */

nav.navbar {
  margin-bottom: 0px;
}

.main-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  font-weight: bold;
  background: $header-blue;
/*  background: linear-gradient(to bottom,#27709b 0,#24688f 100%);*/
  box-shadow: 0 1px 2px rgba(0,0,0,.1),0 1px 0 rgba(0,0,0,.1); 
}

.navbar-header>.navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-btn {
  background: $fade;
  margin-right: 10px;
  border: none;
  font-weight: bold;
}

/* Sign In */

.sign-in>h1 {
  text-align: center;
}

.login {
  width: 30%;
  margin: 0 auto;
}

.login input {
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #cacaca;
  font-size: 1.2em;
  padding: 4px;
}

.login input[type='submit'] {
  margin-top: 20px;
}

#guest-login {
  width: 100%;
  background-color: $green;
  border: none;
  margin-top: 15px;
  font-size: 1.2em;
  width: 100%;
}

#guest-login:hover {
  background-color: $green-hover;
  border: none;
}

/* Boards Index */

.board-card {
  position: relative;
  background-color: $trello-blue;
  height: 120px;
  width: 270px;
  float: left;
  margin: 5px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  transition: all .5s;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.board-card:hover {
  color: white;
  text-decoration: none;
  background-color: $trello-blue-hover;
}

.delete_board {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  width: 100%;
  background: none;
  border: none;
  color: white;
  height: 0px;
  visibility: hidden;
  transition: all .5s;
}

.board-card:hover>.delete_board {
  background: none;
  visibility: visible;
  height: 30px;
  background-color: rgba(222, 222, 222, .3);
}

.board_title {
  text-align: center;
  color: hsla(0, 0, 0, 0.70);
}

#new-board-link {
  padding-top: 40px;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  color: #939393;
  background-color: #dbdbdb;
}

#new-board-link:hover {
  background-color: #ccc;
}

/* Board Show */

.boards>h1 {
  font-size: 1.7em;
  font-weight: bold;
  color: white;
}