<div class='form-wrapper'>
  <a href="#" class='placeholder active'>Add a list...</a>
  <form id="new-list-form">
    <input 
      class='title-input'
      type="text" 
      name="list[title]"
      placeholder='Add a list...'>
    <input type='submit' value='Save'></input>
    <span class='glyph glyphicon glyphicon-remove'></span>
  </form>
</div>