<h3><%= list.escape("title") %></h3>
<div class="list-cards"></div>
<div class="new-card"></div>
<div class="delete-list">
  <a href="#" class="delete-list glyphicon glyphicon-remove" data-id="<%= list.id %>"></a>
</div>